# Library installation

In [4]:
import pandas as pd

In [156]:
import numpy as np

# Pandas Series

### how to create?

In [9]:
veges = ['beetroot', 'carrot', 'tomato', 'kovakkai', 'coconut']

In [12]:
veges_series = pd.Series(veges, index=['purple', 'orange', 'red','green','white'])

In [13]:
veges_series

purple    beetroot
orange      carrot
red         tomato
green     kovakkai
white      coconut
dtype: object

In [16]:
vege_dict = {'red': 'tomato','green': 'kovakkai'}

In [17]:
vege_dict_series = pd.Series(vege_dict)

In [18]:
vege_dict_series

red        tomato
green    kovakkai
dtype: object

### How to access?

In [15]:
veges_series['white']

'coconut'

In [19]:
vege_dict_series['orange'] = 'carrot'

In [25]:
vege_dict_series

red        tomato
green    kovakkai
dtype: object

In [24]:
vege_dict_series.drop(['orange'], inplace=True)

### Series elements can be hetrogeneous & nested too!

In [29]:
veges_dict = {'red': ['tomato', 'redchilli'], 'green': 'kovakkai'}

In [30]:
new_veges_series = pd.Series(veges_dict)

In [34]:
type(new_veges_series[1])

C:\Users\keert\AppData\Local\Temp\ipykernel_28472\189875207.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  type(new_veges_series[1])

str

# Pandas Datasframe

### how to create?

In [264]:
data = { 'vegetables': ['beetroot', 'carrot', 'redchilli', 'beans', 'coconut'],
       'color' : ['purple', 'orange', 'red', 'green', 'white'],
        'unit' : ['1kg', '1kg','1kg','1kg','1piece'],
       'min' : [25, 35, 33, 40, 'seventeen'],
       'max': [40, 45, 90, 45, 38],
       }

In [257]:
koyambed_market = pd.DataFrame(data)

In [62]:
koyambed_market

  vegetables     color    unit        min  max
a   beetroot    purple     1kg         15   40
b     carrot    orange     1kg         25   45
c     tomato    tomato     1kg         53   90
d   kovakkai  kovakkai     1kg         30   45
e    coconut   coconut  1piece  seventeen   38

In [63]:
koyambed_market.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

### How to access?

In [64]:
koyambed_market['unit']

a       1kg
b       1kg
c       1kg
d       1kg
e    1piece
Name: unit, dtype: object

In [73]:
koyambed_market.loc['a', 'unit']

'1kg'

In [74]:
koyambed_market.iloc[0:3, 0:3]

  vegetables   color unit
a   beetroot  purple  1kg
b     carrot  orange  1kg
c     tomato  tomato  1kg

### Adding and removing

In [128]:
koyambed_market

  vegetables     color    unit        min  max
a   beetroot    purple     1kg         15   40
b     carrot    orange     1kg         25   45
c     tomato    tomato     1kg         53   90
d   kovakkai  kovakkai     1kg         30   45
e    coconut   coconut  1piece  seventeen   38

In [131]:
koyambed_market.loc['f'] = {'vegetables': 'poosanikai', 'color': 'yellow', 'unit': '1piece', 'min' : 10, 'max' : 30}

In [132]:
koyambed_market

   vegetables     color    unit        min  max
a    beetroot    purple     1kg         15   40
b      carrot    orange     1kg         25   45
c      tomato    tomato     1kg         53   90
d    kovakkai  kovakkai     1kg         30   45
e     coconut   coconut  1piece  seventeen   38
f  poosanikai    yellow  1piece         10   30

In [133]:
koyambed_market['average'] = [20, 35, 75, 35, 25, 20]

In [140]:
koyambed_market

  vegetables     color    unit        min  max
a   beetroot    purple     1kg         15   40
b     carrot    orange     1kg         25   45
c     tomato    tomato     1kg         53   90
d   kovakkai  kovakkai     1kg         30   45
e    coconut   coconut  1piece  seventeen   38

In [139]:
koyambed_market.drop(['average'], axis=1, inplace=True)

### Handle missing values - isna, sum, any, fillna, dropna

In [162]:
koyambed_market

  vegetables     color    unit        min  max
a   beetroot    purple     1kg         15   40
b     carrot    orange     1kg         25   45
c     tomato    tomato     1kg         53   90
d   kovakkai  kovakkai     1kg         30   45
e    coconut   coconut  1piece  seventeen   38

In [168]:
koyambed_market.isna().sum()

vegetables    0
color         0
unit          0
min           0
max           0
dtype: int64

In [184]:
koyambed_market['season'] = [True, True, False, False, np.nan]

In [172]:
koyambed_market

  vegetables     color    unit        min  max season
a   beetroot    purple     1kg         15   40   True
b     carrot    orange     1kg         25   45   True
c     tomato    tomato     1kg         53   90  False
d   kovakkai  kovakkai     1kg         30   45  False
e    coconut   coconut  1piece  seventeen   38    NaN

In [177]:
koyambed_market.isna().sum()

vegetables    0
color         0
unit          0
min           0
max           0
season        0
dtype: int64

In [176]:
koyambed_market.fillna(False, inplace= True)

C:\Users\keert\AppData\Local\Temp\ipykernel_28472\2257933256.py:1: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  koyambed_market.fillna(False, inplace= True)

In [186]:
koyambed_market

  vegetables     color    unit        min  max season
a   beetroot    purple     1kg         15   40   True
b     carrot    orange     1kg         25   45   True
c     tomato    tomato     1kg         53   90  False
d   kovakkai  kovakkai     1kg         30   45  False
e    coconut   coconut  1piece  seventeen   38    NaN

In [187]:
koyambed_market.dropna(axis=0)

  vegetables     color unit min  max season
a   beetroot    purple  1kg  15   40   True
b     carrot    orange  1kg  25   45   True
c     tomato    tomato  1kg  53   90  False
d   kovakkai  kovakkai  1kg  30   45  False

### Apply lambda

In [198]:
koyambed_market

  vegetables     color    unit        min  max
a   beetroot    purple     1kg         15   45
b     carrot    orange     1kg         25   50
c     tomato    tomato     1kg         53   95
d   kovakkai  kovakkai     1kg         30   50
e    coconut   coconut  1piece  seventeen   43

In [197]:
koyambed_market['max'] = koyambed_market['max'].apply(lambda x: x+5)

### data aggregating & grouping

In [222]:
koyambed_market

  vegetables   color    unit        min  max
a   beetroot  purple     1kg         15   40
b     carrot  orange     1kg         25   45
c     tomato     red     1kg         53   90
d   kovakkai   green     1kg         30   45
e    coconut   white  1piece  seventeen   38

In [212]:
koyambed_market['max'].count()

5

In [223]:
koyambed_market.groupby(['unit','max']).sum()

                vegetables        color        min
unit   max
1kg    40         beetroot       purple         15
       45   carrotkovakkai  orangegreen         55
       90           tomato          red         53
1piece 38          coconut        white  seventeen

### Join dataframes

In [258]:
koyambed_market

  vegetables   color    unit        min  max
0   beetroot  purple     1kg         25   40
1     carrot  orange     1kg         35   45
2     tomato     red     1kg         33   90
3   kovakkai   green     1kg         40   45
4    coconut   white  1piece  seventeen   38

In [266]:
thiruvanmiyur_market

  vegetables   color    unit        min  max
0   beetroot  purple     1kg         25   40
1     carrot  orange     1kg         35   45
2  redchilli     red     1kg         33   90
3      beans   green     1kg         40   45
4    coconut   white  1piece  seventeen   38

In [268]:
pd.concat([koyambed_market, thiruvanmiyur_market], axis=1)

,vegetables,color,unit,min,max,vegetables,color,unit,min,max
0,beetroot,purple,1kg,25,40,beetroot,purple,1kg,25,40
1,carrot,orange,1kg,35,45,carrot,orange,1kg,35,45
2,tomato,red,1kg,33,90,redchilli,red,1kg,33,90
3,kovakkai,green,1kg,40,45,beans,green,1kg,40,45
4,coconut,white,1piece,seventeen,38,coconut,white,1piece,seventeen,38

In [275]:
pd.merge(koyambed_market, thiruvanmiyur_market, on='vegetables', how='right')

,vegetables,color_x,unit_x,min_x,max_x,color_y,unit_y,min_y,max_y
0,beetroot,purple,1kg,25,40.0,purple,1kg,25,40
1,carrot,orange,1kg,35,45.0,orange,1kg,35,45
2,redchilli,NaN,NaN,NaN,NaN,red,1kg,33,90
3,beans,NaN,NaN,NaN,NaN,green,1kg,40,45
4,coconut,white,1piece,seventeen,38.0,white,1piece,seventeen,38

### read from different source

In [248]:
pd.read_csv("market.csv")

  Vegatable   Color    Unit        Min  Max
0  beetroot  purple     1kg         15   40
1    carrot  orange     1kg         25   45
2    tomato     red     1kg         53   90
3  kovakkai   green     1kg         30   45
4   coconut   white  1piece  seventeen   38